
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.registr-form{
  display: flex;
  flex-direction: row;
  width: 130px;
  justify-content: space-between;
}

.symptom-div{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin:  0 auto;
}

.symptom-div form{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

